# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Authentication
JWT_ACCESS_SECRET="your-jwt-access-secret-key"
JWT_ACCESS_EXPIRES_IN="15m"

# AI Microservice
AI_SERVICE_URL="http://localhost:8000"
